.left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__new-form-wrapper {
    height: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__footer-wrapper {
    text-align: center;
    padding: 2rem;
    color: #ffffff;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.00938rem;
    font-family: Inter, Arial, sans-serif;
  }
}