.new-app {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 100vh;
  color: var(--primatives-black, #000);
  font-family: Inter, Arial, sans-serif;
  &__left-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__right-wrapper {
    position: relative;
    flex-basis: 50%;
    min-width: 450px;
    background: linear-gradient(0deg, rgba(38, 50, 56, 0.24), rgba(38, 50, 56, 0.24)), linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    background-blend-mode: multiply;
    padding: 2.25rem 3rem;
    @media (max-width: 900px) {
      display: none;
    }
  }
}