.right {
  width: 100%;
  height: 100%;
  color: var(--primatives-white, #fff);
  font-family: Inter, Arial, sans-serif;
  &__title {
    font-family: Industry, Arial, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  &__text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.033rem;
    margin-bottom: 1.2rem;
    &--bold {
      font-weight: bolder;
    }
  }
  &__list {
    list-style: initial;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}